.item {
  background-color: #eee;
  display: inline-table;
  height: 300px;
  margin: 0 0 20px 20px;
  position: relative;
  text-align: left;
  width: 200px;
}

.item div {
  padding: 10px;
}

.item a {
  color: black;
}

.item img {
  height: 200px;
  width: 100%;
}

.item h2 {
  font-size: 1.05em;
  margin: 0;
  text-decoration: underline;
}

.item .details {
  bottom: 10px;
  left: 37%;
  position: absolute;
}
